---
import { Image } from "astro:assets";
import leftBg from "@/assets/images/left-bg.png";
import rightBg from "@/assets/images/right-bg.png";
import homeImg from "@/assets/images/home-img.png";
import bannerIcon from "@/assets/images/banner-icon.png";
import sausage from "@/assets/images/sausage.png";
import inovationTablet from "@/assets/images/inovation-tablet.png";
import inovationImg from "@/assets/images/inovation-img.png";
import redClock from "@/assets/images/red-clock.png";
import intersect from "@/assets/images/intersect.png";

import Layout from "../layout/MainLayout.astro";
import { ContactForm } from "@/components/contact-form";
import { CarouselMenu } from "@/components/carousel-menu";
import AboutSection from "@/components/About-section.astro";
import BenefitBox from "@/components/Benefit-box.astro";
import FlyoutBox from "@/components/flyout-box.astro";

const title = "Home";
const aboutStyle = "about grid grid-cols-1 relative";
const metaDesc =
  "Eat Pizza, franchise pizza nomor satu dari Korea, kini hadir di Indonesia! Sajikan pizza persegi panjang inovatif dan menangkan hati pelanggan. Peluang bisnis kuliner menjanjikan menanti Anda.";
---

<Layout title={title} metaDesc={metaDesc}>
  <!-- Flyout Bubble -->
  <FlyoutBox />

  <!-- Home Section -->
  <section class="title flex flex-col items-center pt-24 px-5 relative tablet:px-10 desktop:px-40">
    <Image
      data-aos="fade-right"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
      class="absolute bottom-0 left-0 w-20 tablet:w-28 laptop:w-32 desktop:w-52"
      src={leftBg}
      alt="Left background"
    />
    <Image
      data-aos="fade-left"
      data-aos-anchor="#example-anchor"
      data-aos-offset="500"
      data-aos-duration="500"
      class="absolute bottom-0 right-0 w-20 tablet:w-28 laptop:w-32 desktop:w-52"
      src={rightBg}
      alt="Right background"
    />
    <div
      data-aos="zoom-in"
      data-aos-delay="500"
      class="title flex flex-col gap-1 items-center z-10 desktop:gap-4"
    >
      <div class="bg-white rounded-md">
        <h1
          class="text-xl text-center text-third px-4 py-2 rounded-md font-esamanru text-shadow-sm text-stroke-1 text-stroke-dark font-semibold tablet:text-3xl laptop:text-4xl laptop:text-shadow-md laptop:text-stroke-2 laptop:px-8 laptop:py-4 desktop:text-5xl"
        >
          100% Original
        </h1>
      </div>
      <h1
        class="text-2xl text-center text-dark font-esamanru font-semibold tablet:text-3xl laptop:text-6xl desktop:text-8xl"
      >
        25cm Pizza Korea
      </h1>
      <h2
        class="text-2xl text-center text-stroke-1 font-esamanru font-bold text-stroke-dark text-shadow-sm text-white tablet:text-3xl laptop:text-5xl desktop:text-7xl laptop:text-stroke-3 laptop:text-shadow-xl"
      >
        Teman Asik di Mana Saja!
      </h2>
    </div>
    <Image data-aos="fade-up" data-aos-delay="500" src={homeImg} alt="Home" quality="max" />
  </section>

  <!-- Banner Section -->
  <div class="banner z-10 w-full grid grid-cols-custom-70-30 tablet:grid-cols-custom-80-20">
    <div
      class="flex flex-col p-4 justify-center bg-secondary relative tablet:p-6 desktop:py-16 desktop:px-12"
    >
      <Image
        class="w-20 absolute right-5 top-10 lg:top-6 tablet:w-32 tablet:right-10 tablet:top-4 laptop:w-36 desktop:w-80 desktop:right-20"
        src={bannerIcon}
        alt="Banner icon"
      />
      <Image
        class="w-14 z-10 absolute -right-6 tablet:w-20 tablet:-right-8 desktop:w-40 desktop:-right-20"
        src={sausage}
        alt="Sausage"
      />
      <h3
        class="text-white text-lg font-bold font-esamanru tablet:text-2xl laptop:text-3xl desktop:text-5xl"
      >
        “No Pork No Lard.”
      </h3>
      <span class="font-esamanru text-white desktop:text-3xl">- Eat Pizza</span>
    </div>
    <a
      href="#menu"
      class="button flex justify-center items-center bg-third text-center p-2 text-white font-esamanru font-medium text-sm hover:bg-dark duration-300 tablet:text-lg tablet:px-5 desktop:text-3xl desktop:px-16"
      >Jelajahi Lebih Lanjut</a
    >
  </div>

  <!-- Video Section -->
  <section
    data-aos="fade-in"
    id="videoSection"
    class="video flex justify-center items-center relative"
  >
    <video
      id="eatpizzaVideo"
      class="w-full cursor-pointer"
      src="/video/eatpizza-video.mp4"
      loop
      controls></video>

    <!-- <button
      id="toggleButton"
      class="absolute flex justify-center items-center h-10 w-10 text-white opacity-0 transition-opacity duration-300 ease-in-out tablet:w-16 tablet:h-16 laptop:w-24 laptop:h-24"
    >
      <PlayIcon id="playIcon" className="text-white hidden" />
      <PauseIcon id="pauseIcon" className="text-white hidden" />
    </button> -->
  </section>

  <!-- Menu Section -->
  <section
    id="menu"
    class="menu bg-wood-bg bg-no-repeat bg-cover bg-center flex flex-col gap-10 justify-center items-center p-5 tablet:p-10 desktop:p-40"
  >
    <h2
      class="font-bold text-2xl font-esamanru text-white tablet:text-4xl laptop:text-5xl desktop:text-7xl"
    >
      Menu
    </h2>

    <!-- Carousel Goes Here -->
    <CarouselMenu client:idle />

    <a
      class="bg-third text-white hover:bg-dark duration-300 py-2 px-4 rounded-md font-medium tablet:text-xl laptop:text-2xl desktop:text-3xl desktop:py-4 desktop:px-8"
      href="/menu">Lihat Lebih Lanjut</a
    >
  </section>

  <!-- Inovation Section -->
  <section
    class="inovation p-5 bg-third flex flex-col gap-5 justify-center items-center tablet:p-10 desktop:p-40 desktop:gap-10"
  >
    <div class="title flex flex-col justify-center items-center gap-2 laptop:pb-10 desktop:gap-5">
      <h2
        class="text-white font-bold font-esamanru text-xl text-center tablet:text-3xl laptop:text-5xl desktop:text-7xl"
      >
        Inovasi Pizza Baru, 25cm!
      </h2>
    </div>
    <Image class="mobile laptop:hidden" src={inovationImg} alt="Inovation" />
    <Image class="tablet hidden laptop:block" src={inovationTablet} alt="Inovation tablet" />
  </section>

  <!-- About Section -->
  <AboutSection aboutStyle={aboutStyle} />

  <!-- Benefit Section -->
  <section class="benefit">
    <div
      class="title-box flex gap-2 justify-center items-center bg-secondary p-5 tablet:justify-between tablet:px-10 laptop:px-20"
    >
      <div class="text flex flex-col gap-2">
        <h2
          class="font-esamanru text-white font-bold text-2xl w-52 tablet:text-4xl tablet:w-max laptop:text-6xl laptop:w-[600px] desktop:w-[700px] desktop:text-8xl"
        >
          Siap Dalam 5 Menit!
        </h2>
        <p class="text-white text-sm font-esamanru font-light laptop:text-2xl desktop:text-5xl">
          Pizza enak, super cepat, dan siapa pun bisa buat!
        </p>
      </div>
      <Image class="w-20 tablet:w-32 laptop:w-52 desktop:w-96" src={redClock} alt="Red clock" />
    </div>
    <BenefitBox />
  </section>

  <!-- Contact Section -->
  <section class="contact relative py-10 px-5 bg-third tablet:p-10 laptop:px-20 laptop:py-20">
    <Image class="absolute -right-4 -top-4 laptop:w-80" src={intersect} alt="Intersect" />
    <Image class="absolute -left-4 -bottom-4 laptop:w-80" src={intersect} alt="Intersect" />
    <div class="contact-box grid laptop:grid-cols-custom-70-30">
      <ContactForm client:idle />
      <div
        class="bg-contact z-10 bg-no-repeat bg-cover bg-center laptop:rounded-tr-lg laptop:rounded-br-lg"
      >
      </div>
    </div>
  </section>

  <script>
    import AOS from "aos";
    import "aos/dist/aos.css";

    AOS.init({
      duration: 1000,
      easing: "ease-in-out",
      once: true,
    });

    // const video = document.getElementById("eatpizzaVideo") as HTMLVideoElement;
    // const toggleButton = document.getElementById("toggleButton");
    // const playIcon = document.getElementById("playIcon");
    // const pauseIcon = document.getElementById("pauseIcon");

    // Initially show the play icon
    // playIcon.classList.remove("hidden");
    // pauseIcon.classList.add("hidden");

    // Function to toggle play/pause
    // const togglePlayPause = () => {
    //   if (video.paused) {
    //     video.play();
    //     playIcon.classList.add("hidden");
    //     pauseIcon.classList.remove("hidden");
    //   } else {
    //     video.pause();
    //     playIcon.classList.remove("hidden");
    //     pauseIcon.classList.add("hidden");
    //   }
    // };

    // Event listeners for showing and hiding the icons on hover
    // const videoSection = document.getElementById("videoSection");

    // Show the play/pause button on hover
    // videoSection.addEventListener("mouseenter", () => {
    //   toggleButton.classList.remove("opacity-0");
    //   if (video.paused) {
    //     playIcon.classList.remove("hidden");
    //   } else {
    //     pauseIcon.classList.remove("hidden");
    //   }
    // });

    // Hide the play/pause button on unhover
    // videoSection.addEventListener("mouseleave", () => {
    //   toggleButton.classList.add("opacity-0");
    //   playIcon.classList.add("hidden");
    //   pauseIcon.classList.add("hidden");
    // });

    // Add click event listener to toggle play/pause
    // toggleButton.addEventListener("click", togglePlayPause);
    // video.addEventListener("click", togglePlayPause);
  </script>
</Layout>
