---
// import { Image } from "astro:assets";
// import storeShape from "@/assets/images/store-bg.png";

import FlyoutBox from "@/components/flyout-box.astro";
import Layout from "../layout/MainLayout.astro";
const title = "Store";
const metaDesc =
  "Temukan gerai Eat Pizza terdekat dan nikmati pizza lezat favorit Anda! Dapatkan pengalaman makan yang menyenangkan bersama keluarga dan teman.";

const addressStore = [
  {
    title: "Summarecon Jakarta",
    address: "Summarecon Mall Kelapa Gading 3 Lt 3. #TW-01 Theater Link. Jl. Boulevard Raya, Kelapa Gading Timur, Kecamatan Kelapa Gading. Jakarta Utara 14240",
    openingHour: "Jam Operasional: 10.00 - 22.00 (atau Sampai Habis)",
    linkBtn: "https://maps.app.goo.gl/sKD2AzDyQDrBKMQh7",
  },
];
---

<Layout title={title} metaDesc={metaDesc}>
  <!-- Flyout Box -->
  <FlyoutBox/>

  <!-- Store Section bg-store-bg bg-no-repeat bg-cover bg-top -->
  <section
    class="contact relative flex flex-col bg-store-bg bg-no-repeat bg-cover bg-top gap-5 justify-center items-center w-full pt-28 pb-8 px-5 tablet:gap-10 tablet:pt-32 tablet:pb-16 tablet:px-10 laptop:px-20 laptop:pt-36"
  >
    <!-- <Image class="absolute w-full inset-0 top-16 laptop:top-0" src={storeShape} alt="Shape Store" quality="max" /> -->
    <div class="title flex gap-2 flex-col items-center z-10">
      <h1
        class="text-3xl text-stroke-1 font-esamanru font-bold text-stroke-dark text-shadow-sm text-white tablet:text-5xl laptop:text-6xl desktop:text-7xl"
      >
        Store
      </h1>
      <p
        class="text-sm text-center text-stroke-1 font-esamanru font-bold text-stroke-dark text-shadow-sm text-white tablet:px-40 tablet:text-lg desktop:text-2xl"
      >
        Berikut adalah berbagai lokasi dari toko kami yang sudah beroprasi
      </p>
    </div>
    <div class="relative w-full pb-[100%] laptop:pb-[56.25%] desktop:pb-[40%]">
      <iframe
        class="absolute top-0 left-0 w-full h-full rounded-xl"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d416.958352707046!2d106.90833560157107!3d-6.157706884731676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f53db4a0dc67%3A0xba4a89f7391d275f!2sEat%20Pizza!5e0!3m2!1sid!2sid!4v1731726384873!5m2!1sid!2sid"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="box-card z-10 grid grid-cols-1 gap-4 laptop:grid-cols-2 w-full">
      {addressStore.map(({ title, address, openingHour, linkBtn }) => (
        <div data-aos="zoom-in" class="card flex flex-col gap-2 items-center bg-third py-10 px-6 rounded-lg text-white laptop:p-10">
          <h4 class="text-center font-esamanru text-xl font-semibold">{title}</h4>
          <p class="text-center font-esamanru font-light text-sm">{address}</p>
          <p class="text-center font-esamanru font-light text-sm">{openingHour}</p>
          <a class="text-white font-esamanru text-center font-medium bg-dark py-2 px-4 rounded-sm hover:bg-white hover:text-dark duration-200" href={linkBtn}>Ambil Sendiri</a>
        </div>
      ))}
    </div>
  </section>

  <script>
    import AOS from 'aos';
    import 'aos/dist/aos.css';
  
    AOS.init({
      duration: 500,
      easing: 'ease-in-out',
    });
  </script>
</Layout>
