---
import { Image } from "astro:assets";
import eatPizzaLogo from "@/assets/images/eatpizza-logo.png";

// Footer.astro
const styles = {
  navLinks: "font-esamanru font-medium text-dark hover:text-third duration-200",
};

// Array of navigation links
const navLinks = [
  { name: "Home", href: "/" },
  { name: "About Us", href: "/about" },
  { name: "Menu", href: "/menu" },
  { name: "Store", href: "/store" },
  { name: "Partnership", href: "/partner" },
  { name: "Contact Us", href: "/contact" },
];
---

<footer class="bg-main text-white text-center flex flex-col z-10 relative">
  <div class="footer-content p-5 flex flex-col justify-center gap-5 tablet:p-10 laptop:px-20">
    <a href="/">
      <Image class="w-52 laptop:w-96" src={eatPizzaLogo} alt="Eat Pizza Logo" />
    </a>
    <!-- Navigation Links -->
    <ul
      class="flex flex-col items-start laptop:flex-row laptop:gap-4 laptop:self-end laptop:order-1"
    >
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class={styles.navLinks}>
              {link.name}
            </a>
          </li>
        ))
      }
      <li>
        <button onclick="alert('Coming Soon!')" class={styles.navLinks}>Loyalty Program</button>
      </li>
    </ul>
    <div
      class="contact flex flex-col gap-3 laptop:order-2 laptop:flex-row laptop:items-center laptop:justify-between"
    >
      <div class="button flex flex-col gap-3 laptop:flex-row">
        <a
          class="flex justify-start p-10 items-center gap-2 bg-third text-2xl font-medium py-5 rounded-md font-esamanru hover:bg-dark duration-300 laptop:px-10"
          href="/contact"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-12"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
            ></path>
            <path
              d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
            ></path>
          </svg>
          <span>Contact Us</span>
        </a>
        <a
          class="flex justify-start p-10 items-center gap-2 bg-third text-2xl font-medium py-5 rounded-md font-esamanru hover:bg-dark duration-300 laptop:px-10"
          href="/store"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-12"
          >
            <path
              d="M5.223 2.25c-.497 0-.974.198-1.325.55l-1.3 1.298A3.75 3.75 0 0 0 7.5 9.75c.627.47 1.406.75 2.25.75.844 0 1.624-.28 2.25-.75.626.47 1.406.75 2.25.75.844 0 1.623-.28 2.25-.75a3.75 3.75 0 0 0 4.902-5.652l-1.3-1.299a1.875 1.875 0 0 0-1.325-.549H5.223Z"
            ></path>
            <path
              fill-rule="evenodd"
              d="M3 20.25v-8.755c1.42.674 3.08.673 4.5 0A5.234 5.234 0 0 0 9.75 12c.804 0 1.568-.182 2.25-.506a5.234 5.234 0 0 0 2.25.506c.804 0 1.567-.182 2.25-.506 1.42.674 3.08.675 4.5.001v8.755h.75a.75.75 0 0 1 0 1.5H2.25a.75.75 0 0 1 0-1.5H3Zm3-6a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-.75.75h-3a.75.75 0 0 1-.75-.75v-3Zm8.25-.75a.75.75 0 0 0-.75.75v5.25c0 .414.336.75.75.75h3a.75.75 0 0 0 .75-.75v-5.25a.75.75 0 0 0-.75-.75h-3Z"
              clip-rule="evenodd"></path>
          </svg>
          <div class="text flex flex-col items-start">
            <span>Find Us</span>
          </div>
        </a>
      </div>
      <div class="socmed flex flex-col desktop:flex-row desktop:items-center gap-3">
        <p class="text-md text-center text-dark font-esamanru font-medium laptop:text-left">
          IKUTI KAMI
        </p>
        <div class="link-socmed flex self-center gap-3 laptop:flex-row laptop:self-start">
          <!-- Tiktok -->
          <a class="bg-secondary p-3 rounded-full hover:bg-third duration-300" href="">
            <svg
              width="35"
              height="36"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M7.35233 0.777122C7.35255 0.566282 7.52355 0.395508 7.73445 0.395508H10.4544C10.6652 0.395508 10.8362 0.566275 10.8365 0.777115C10.837 1.09846 10.8372 1.3389 10.8372 1.49832C10.8372 1.57796 10.8371 1.6377 10.837 1.6773C10.837 1.69695 10.8369 1.71234 10.8368 1.72293C10.8368 1.72783 10.8367 1.73344 10.8366 1.73835L10.8365 1.74005C10.8392 2.21298 11.0879 2.63763 11.4526 2.99996C11.818 3.36303 12.2642 3.62636 12.5627 3.76511C12.9537 3.94676 13.4289 4.07523 13.9951 4.14348C14.1871 4.16666 14.3315 4.32956 14.3315 4.52291V6.99746C14.3315 7.19681 14.1782 7.36271 13.9794 7.37838C13.848 7.38873 13.6664 7.37328 13.4608 7.34628C13.246 7.31816 12.9746 7.27293 12.6487 7.21158C12.0842 7.10538 11.4411 6.84108 10.7243 6.43608V10.7352C10.7243 10.9793 10.6917 12.2253 10.0684 13.4237C9.7539 14.0284 9.28477 14.6288 8.58795 15.0769C7.88925 15.5262 6.98385 15.808 5.82113 15.808C3.48097 15.808 1.97408 14.6759 1.25216 13.1673C0.542573 11.6844 0.604222 9.86531 1.31572 8.47713C1.78762 7.55651 2.45295 6.86606 3.31305 6.42491C4.1691 5.98578 5.19307 5.80631 6.3666 5.86293C6.57022 5.87276 6.73027 6.04076 6.73027 6.24461V8.65143C6.73027 8.86248 6.5592 9.03356 6.34815 9.03356C5.43502 9.03356 4.96657 9.15948 4.6554 9.39476C4.07797 9.83126 3.93907 10.4148 3.93907 10.824C3.93907 11.1304 4.07647 11.5569 4.3701 11.9043C4.6548 12.2411 5.07592 12.4926 5.65177 12.4926C6.22702 12.4926 6.64612 12.2415 6.92812 11.8973C7.2183 11.5431 7.3572 11.0956 7.35233 10.7404C7.34415 10.142 7.34423 6.81836 7.35233 0.777122ZM8.11605 1.15977C8.10847 6.96401 8.10863 10.1517 8.1165 10.73C8.12385 11.2667 7.92285 11.889 7.51935 12.3816C7.10768 12.8841 6.4794 13.2569 5.65177 13.2569C4.82467 13.2569 4.19835 12.8851 3.78637 12.3976C3.38332 11.9207 3.17482 11.3217 3.17482 10.824C3.17482 10.2488 3.3741 9.40526 4.19452 8.78508C4.6404 8.44803 5.20808 8.30906 5.96602 8.27688V6.61706C5.0523 6.61541 4.2885 6.78348 3.6618 7.10493C2.95777 7.46606 2.40203 8.03328 1.99583 8.82573C1.39028 10.0072 1.33766 11.5754 1.94152 12.8373C2.53313 14.0736 3.7674 15.0438 5.82113 15.0438C6.85537 15.0438 7.61355 14.7948 8.17455 14.4341C8.73735 14.0722 9.1239 13.5834 9.39038 13.071C9.92918 12.0351 9.96008 10.9359 9.96008 10.7352V5.76108C9.96008 5.62181 10.0359 5.49348 10.1579 5.42636C10.28 5.35916 10.429 5.36373 10.5466 5.43828C11.47 6.02313 12.2145 6.35223 12.79 6.46053C13.109 6.52053 13.3651 6.56298 13.5602 6.58856C13.5625 6.58886 13.5649 6.58916 13.5672 6.58946V4.85381C13.076 4.77093 12.6326 4.64028 12.2407 4.45818C11.8864 4.29356 11.359 3.98433 10.9139 3.54213C10.4701 3.10113 10.0723 2.49041 10.0723 1.73251C10.0723 1.72747 10.0723 1.72245 10.0726 1.71746V1.71621C10.0726 1.70803 10.0727 1.69453 10.0728 1.67515C10.0729 1.63668 10.0729 1.57782 10.0729 1.49832C10.0729 1.41035 10.0729 1.2975 10.0727 1.15977H8.11605Z"
                fill="#fff"></path>
            </svg>
          </a>
          
          <!-- Facebook -->
          <a class="bg-secondary p-3 rounded-full hover:bg-third duration-300" href="">
            <svg
              width="35"
              height="36"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 7.97283C15 3.79758 11.6326 0.395508 7.5 0.395508C3.36735 0.395508 0 3.79758 0 7.97283C0 11.7615 2.67855 14.8543 6.27547 15.3955V10.1378H4.4388V7.97283H6.27547V6.27183C6.27547 4.41611 7.4235 3.33363 9.10717 3.33363C9.94897 3.33363 10.7908 3.48828 10.7908 3.48828V5.34393H9.7959C8.87752 5.34393 8.57145 5.88521 8.57145 6.50373V7.89551H10.6378L10.2551 10.0605H8.49487V15.3955C12.2449 14.9316 15 11.7615 15 7.97283Z"
                fill="#fff"></path>
            </svg>
          </a>

          <!-- Instagram -->
          <a class="bg-secondary p-3 rounded-full hover:bg-third duration-300" href="https://www.instagram.com/eatpizzakr">
            <svg
              width="35"
              height="36"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M7.575 1.73879C9.6 1.73879 9.825 1.73879 10.65 1.73879C11.4 1.73879 11.775 1.88805 12 2.0373C12.375 2.18655 12.675 2.33581 12.9 2.55969C13.2 2.8582 13.35 3.08208 13.425 3.45521C13.5 3.75372 13.575 4.12685 13.725 4.79851C13.725 5.61941 13.725 5.76861 13.725 7.85821C13.725 9.94771 13.725 10.097 13.725 10.9179C13.725 11.6642 13.575 12.0373 13.425 12.2612C13.275 12.6343 13.125 12.9328 12.9 13.1567C12.6 13.4552 12.375 13.6045 12 13.6791C11.7 13.7537 11.325 13.8283 10.65 13.9776C9.825 13.9776 9.675 13.9776 7.575 13.9776C5.475 13.9776 5.325 13.9776 4.5 13.9776C3.75 13.9776 3.375 13.8283 3.15 13.6791C2.775 13.5298 2.475 13.3806 2.25 13.1567C1.95 12.8582 1.8 12.6343 1.725 12.2612C1.65 11.9627 1.575 11.5895 1.425 10.9179C1.425 10.097 1.425 9.94771 1.425 7.85821C1.425 5.76861 1.425 5.61941 1.425 4.79851C1.425 4.05223 1.575 3.67909 1.725 3.45521C1.875 3.08208 2.025 2.78357 2.25 2.55969C2.475 2.26118 2.7 2.11193 3.075 2.0373C3.375 1.96267 3.75 1.88805 4.425 1.73879C5.325 1.73879 5.55 1.73879 7.575 1.73879ZM7.575 0.395508C5.475 0.395508 5.325 0.395508 4.5 0.395508C3.675 0.395508 3.075 0.544758 2.625 0.768638C2.175 0.917898 1.725 1.21641 1.275 1.66417C0.825 2.11193 0.6 2.48506 0.375 3.00745C0.15 3.45521 0.075 4.05223 0 4.87311C0 5.69401 0 5.99251 0 7.93281C0 10.0224 0 10.1716 0 10.9925C0 11.8134 0.15 12.3358 0.375 12.7836C0.525 13.2313 0.825 13.6791 1.275 14.1268C1.725 14.5746 2.1 14.7985 2.625 15.0224C3.075 15.1716 3.6 15.3209 4.425 15.3955C5.25 15.3955 5.55 15.3955 7.5 15.3955C9.525 15.3955 9.75 15.3955 10.575 15.3955C11.4 15.3955 11.925 15.2462 12.375 15.0224C12.825 14.8731 13.275 14.5746 13.725 14.1268C14.175 13.6791 14.4 13.3059 14.625 12.7836C14.775 12.3358 14.925 11.8134 15 10.9925C15 10.1716 15 9.87311 15 7.93281C15 5.91791 15 5.69401 15 4.87311C15 4.05223 14.85 3.52984 14.625 3.08208C14.475 2.63432 14.175 2.18655 13.725 1.73879C13.275 1.29103 12.9 1.06715 12.375 0.843268C12.075 0.544758 11.475 0.470138 10.65 0.395508C9.825 0.395508 9.675 0.395508 7.575 0.395508Z"
                fill="#fff"></path>
              <path
                d="M7.57578 4.05273C5.40078 4.05273 3.67578 5.76913 3.67578 7.93333C3.67578 10.0975 5.40078 11.8139 7.57578 11.8139C9.75078 11.8139 11.4758 10.0975 11.4758 7.93333C11.4758 5.76913 9.75078 4.05273 7.57578 4.05273ZM7.57578 10.4706C6.22578 10.4706 5.02578 9.35123 5.02578 7.93333C5.02578 6.59003 6.15078 5.39603 7.57578 5.39603C8.92578 5.39603 10.1258 6.51543 10.1258 7.93333C10.1258 9.27663 8.92578 10.4706 7.57578 10.4706Z"
                fill="#fff"></path>
            </svg>
          </a>

          <a class="self-end bg-secondary px-5 py-2 rounded-md font-bold hover:bg-third duration-300" href="https://www.eatpizza.co.kr/" target="_blank" >eatpizzakr</a>
        </div>
      </div>
    </div>
  </div>
  <p
    class="text-center text-white font-esamanru font-medium p-2 text-sm bg-dark flex justify-center items-center"
  >
    &copy; {new Date().getFullYear()} Eat Pizza. All rights reserved.
  </p>
</footer>
