---
import { Image } from "astro:assets";
import eatPizzaLogo from "@/assets/images/eatpizza-logo.png";

const styles = {
  navLinks: "font-esamanru font-semibold text-dark hover:text-third duration-200",
  navBtn: "font-esamanru font-medium text-white bg-dark py-2 rounded-sm px-4 hover:bg-third duration-200 laptop:px-6 laptop:py-4",
};

// Array of navigation links
const navLinks = [
  { name: "Home", href: "/" },
  { name: "About Us", href: "/about" },
  { name: "Menu", href: "/menu" },
  { name: "Store", href: "/store" },
  { name: "Partnership", href: "/partner" },
  { name: "Contact Us", href: "/contact" },
];
---

<header class="px-6 py-4 fixed w-full bg-main z-50 tablet:p-5 laptop:px-8">
  <nav class="flex justify-between items-center">
    <!-- Logo -->
    <a href="/" class="flex items-center">
      <Image src={eatPizzaLogo} alt="Logo" class="h-9 mr-2 laptop:h-12 w-fit" />
    </a>

    <div class="menu-toggle relative flex items-center h-[30px] w-[30px] laptop:hidden">
      <button id="menu-toggle" class="absolute flex flex-col items-end gap-2">
          <span class="bg-dark rounded-lg h-[3px] w-[35px] block transition ease-in-out duration-300 origin-top-right"></span>
          <span class="bg-dark rounded-lg h-[3px] w-[25px] block transition ease-in-out duration-300"></span>
          <span class="bg-dark rounded-lg h-[3px] w-[15px] block transition ease-in-out duration-300 origin-bottom-right"></span>
      </button>
    </div>

    <!-- Navigation Links for larger screens -->
    <ul class="hidden laptop:flex space-x-4">
      {
        navLinks.map((link) => (
          <li>
            <a href={link.href} class={styles.navLinks}>
              {link.name}
            </a>
          </li>
        ))
      }
      <li>
        <a href="http://member.eatpizzakr.id/" class={styles.navLinks}>Loyalty Program</a>
      </li>
    </ul>
  </nav>

  <!-- Mobile Menu (Initially hidden) -->
  <ul
    class="laptop:hidden -translate-x-full transition-transform duration-300 ease-in-out fixed p-5 bg-main w-full h-full left-0"
    id="mobile-menu"
  >
    {
      navLinks.map((link) => (
        <li class="p-2">
          <a href={link.href} class={styles.navLinks}>
            {link.name}
          </a>
        </li>
      ))
    }
    <li class="p-2">
      <button onclick="alert('Coming Soon!')" class={styles.navLinks}>Loyalty Program</button>
    </li>
  </ul>
</header>

<script>
  // JavaScript to toggle the mobile menu
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  menuToggle.addEventListener("click", () => {
    mobileMenu.classList.toggle("-translate-x-full");
    menuToggle.classList.toggle('hamburger-active');
  });
</script>
